@using Hexagon.Domain.Entites.Courses
@{
    Layout = "_Layout";
}
@model CourseCategoryTypeEntity

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
    <h1 class="text-3xl font-bold text-dark-600 mb-6">Добавление категориии курсов</h1>
    <form action="/courses/category-types/add" method="post" enctype="multipart/form-data" class="space-y-6 bg-blur glass p-8 rounded-lg shadow-md">
        <div>
            <label class="block text-sm font-medium text-gray-200">
                Категория курса
            </label>
            <input 
                   asp-for="CourseCategoryType"
                   class="appearance-none rounded-lg block w-full px-3 py-2 border border-gray-300 placeholder-gray-400 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                   placeholder="Введите название категории" />
            <span  asp-validation-for="CourseCategoryType" class="text-red-600"></span>
        </div>

        <div class="flex justify-between">           
            <button type="submit" class="px-6 py-2 text-white bg-accent-pink hover:bg-accent-darkpink rounded-md shadow-md transition duration-300">
                Добавить
            </button>
        </div>
    </form>

    
</div>