@{
    Layout = null;
}

<link href="/css/output.css" rel="stylesheet" />
<div class="min-h-screen flex items-center justify-center bg-gradient-accent2">
    <div class="text-center max-w-md w-full bg-white shadow-lg rounded-2xl p-8 space-y-8 transform transition-all hover:shadow-2xl">
        <h1 class="text-5xl font-extrabold text-gray-900">Вы уже отправили заявку!</h1>
        <p class="mt-6 text-2xl text-gray-700">Ваша заявка еще на рассмотрении.</p>
        <p class="mt-4 text-lg text-gray-500">Решение еще не принято. Мы сообщим вам, как только оно будет принято.</p>
        <a href="/courses"
           class="mt-6 inline-block text-lg text-white bg-indigo-600 hover:bg-indigo-700 px-6 py-3 rounded-lg shadow-lg transition-all duration-300">
            Вернуться на страницу курсов
        </a>
    </div>
</div>
