@using AllCourses.Models.News
@model List<NewsViewModel>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Новости";
}
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
    <!-- Верхний блок с заголовком и кнопкой -->
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-3xl font-bold text-600">Новости</h1>
        @if (User.IsInRole("admin"))
        {
            <a href="/news/addnews" class="bg-indigo-600 text-white px-6 py-3 rounded-lg shadow-md hover:bg-indigo-700 transition">
                Добавить новость
            </a>
        }
    </div>

    <!-- Сетка карточек новостей -->
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
        <!-- Две карточки в ряд начиная с sm -->
        @foreach (var news in Model)
        {
            <a href="@Url.Action("Details", "News", new { id = news.Id })" class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-all">
                <div class="relative">
                    @if (news.ImageData != null)
                    {
                        <img src="data:image/png;base64,@Convert.ToBase64String(news.ImageData)" alt="Новость" class="rounded-lg shadow-md w-full h-full object-cover" />
                    }
                    else
                    {
                        <p class="text-gray-500 mt-2">Нет изображения</p>
                    }
                </div>
                <div class="mt-4">
                    <h2 class="text-xl font-semibold text-gray-800 truncate">@news.Title</h2>
                    <p class="text-sm text-gray-500 mt-2">@news.CreatedAt.ToString("dd.MM.yyyy")</p>
                </div>
            </a>
        }
    </div>
</div>