<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AllCourses</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/AllCourses.styles.css" asp-append-version="true" />
</head>
<body>
    <style>
        .bgimage {
            width: 125px;
            height: 125px;
            background-image: url('../images/image.png');
            background-size: contain;
        }
    </style>
    <header class="bg-slate-100">
        <nav class="py-4">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center">
                <div class="text-2xl font-extrabold text-indigo-600">AllCourses</div>
                <div class="space-x-4 flex items-center">
                    <select class="bg-slate-100">
                        <option value="en">RU</option>
                        <option value="ru">KZ</option>
                        <option value="fr">EN</option>
                    </select>
                    <a asp-controller="Account" asp-action="Login" class="text-indigo-600 hover:text-indigo-500 font-medium">Войти</a>
                </div>
            </div>
        </nav>
        <div class="py-2">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <ul class="flex space-x-10">
                    <li><a href="/" class="text-gray-700 hover:text-indigo-600 font-medium">Главная</a></li>
                    <li><a href="/courses" class="text-gray-700 hover:text-indigo-600 font-medium">Курсы</a></li>
                    <li><a href="/forum" class="text-gray-700 hover:text-indigo-600 font-medium">Форум</a></li>
                    <li><a href="/news" class="text-gray-700 hover:text-indigo-600 font-medium">Новости</a></li>
                    <li><a href="/statistics" class="text-gray-700 hover:text-indigo-600 font-medium">Статистика</a></li>
                    <li><a href="/Home/About" class="text-gray-700 hover:text-indigo-600 font-medium">О нас</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="bg-slate-100">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="shadow-md py-4 bg-slate-100">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-wrap justify-between items-start">
            <div class="text-left text-gray-800 mb-6 md:mb-0">
                <p class="text-2xl font-extrabold text-indigo-600 mb-4">AllCourses</p>
                <p class="font-bold">ОБРАЗОВАТЕЛЬНАЯ ПЛАТФОРМА</p>
                <p class="mt-4">
                    <a href="#" class="text-indigo-500 hover:underline">Пользовательское соглашение</a>
                </p>
                <p>
                    <a href="#" class="text-indigo-500 hover:underline">Политика конфиденциальности</a>
                </p>
                <p class="mt-6 text-gray-500">Разработка системы TOO "KpCompany"</p>
            </div>

            
            <div class="bg-white rounded-lg shadow-lg p-4 w-40">
                <div class='flex items-center justify-center'>
                    <div class="bgimage"></div>
                </div>
                <a href="https://t.me/Perepelitsa_Kirill"
                   class="text-blue-500 font-medium hover:underline block text-center"
                   target="_blank"
                   rel="noopener noreferrer">
                    Разработчик системы
                </a>
                <span class="text-blue-700 font-bold flex items-center justify-center">
                    <i class="uil uil-at"></i>@@Perepelitsa_Kirill
                </span>
            </div>
        </div>

        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-left text-gray-500 mt-6">
            <p>2025 &copy; AllCourses</p>
        </div>
    </footer>
    
</body>
</html>
