@using AllCourses.Models.Courses
@model List<ApplicationToTeachingViewModel>
@{
    Layout = "_Layout";
}

<table class="min-w-full border-collapse border border-gray-300 text-sm text-gray-700">
    <thead>
        <tr class="bg-gray-200">
            <th class="border border-gray-300 p-2">Айди заявки</th>
            <th class="border border-gray-300 p-2">Имя пользователя</th>
            <th class="border border-gray-300 p-2">Почта пользователя</th>
            <th class="border border-gray-300 p-2">Дата подачи</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="border border-gray-300 hover:bg-gray-100">
                <td class="border border-gray-300 p-2">@item.Id</td>
                <td class="border border-gray-300 p-2">@item.UserName</td>
                <td class="border border-gray-300 p-2">@item.UserEmail</td>
                <td class="border border-gray-300 p-2">@item.CreatedAt</td>
            </tr>
        }
    </tbody>
</table>
