@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Курсы";
    Layout = "_Layout";
}

<h2>Раздел в разработке</h2>