@using AllCourses.Domain.Entites.Courses
@model List<CourseEntity>
@{
    ViewData["Title"] = "Курсы";
    Layout = "_Layout";
}

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
    <!-- Верхний блок с заголовком и кнопкой -->
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-3xl font-bold text-600">Курсы</h1>

        @if (User.IsInRole("student"))
        {
            <a href="/courses/get-access-to-create-courses" class="bg-indigo-600 text-white px-6 py-3 rounded-lg shadow-md hover:bg-indigo-700 transition">
                Создать курс
            </a>
        }

        @if (User.IsInRole("admin"))
        {
            <a href="/courses/category-types" class="bg-indigo-600 text-white px-6 py-3 rounded-lg shadow-md hover:bg-indigo-700 transition">
                Категории курсов
            </a>
            <a href="/courses/category-types/add" class="bg-indigo-600 text-white px-6 py-3 rounded-lg shadow-md hover:bg-indigo-700 transition">
                Добавить новую категорию
            </a>
        }
    </div>

    <!-- Сетка карточек новостей -->
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
        <!-- Две карточки в ряд начиная с sm -->
        @if (Model == null)
        {
            <h2>Тут пока ничего нет</h2>
        }
        @if (Model != null)
        {
            foreach (var course in Model)
            {
                //TODO: Сюда впихнуть новую ссылку для просмотра деталей курса с кнопкой подписаться.
                <a href="@Url.Action("DetailsOnlyForViewOrSubscribe", "Courses", new { id = course.Id })" class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-all">
                    <div class="relative">
                        @if (course.ImageData != null)
                        {
                            <img src="data:image/png;base64,@Convert.ToBase64String(course.ImageData)" alt="Новость" class="rounded-lg shadow-md w-full h-full object-cover" />
                        }
                        else
                        {
                            <p class="text-gray-500 mt-2">Нет изображения</p>
                        }
                    </div>
                    <div class="mt-4">
                        <h2 class="text-xl font-semibold text-gray-800 truncate">@course.Title</h2>
                        <p class="text-sm text-gray-500 mt-2">@course.CourseCategory</p>
                        <p class="text-sm text-gray-500 mt-2">@course.Author</p>
                    </div>
                </a>
            }
        }        
    </div>
</div>