@using Hexagon.Models.Login
@model LoginViewModel
@{
    Layout = null;
}

<link href="~/css/output.css" rel="stylesheet" />
<div class="min-h-screen flex items-center justify-center bg-gradient-accent2">
    <div class="max-w-md w-full bg-white shadow-lg rounded-2xl p-8 space-y-8 transform transition-all hover:shadow-2xl">
        <h2 class="text-center text-3xl font-extrabold text-gray-900">
            Авторизация
        </h2>

        <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewBag.returnUrl" method="post" class="mt-8 space-y-6">
            <div class="rounded-md shadow-sm space-y-4">
                <div>
                    <label asp-for="UserName" class="block text-sm font-medium text-gray-700">
                        Логин
                    </label>
                    <input
                           asp-for="UserName"                           
                           class="appearance-none rounded-lg block w-full px-3 py-2 border border-gray-300 placeholder-gray-400 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                           placeholder="Введите логин" />
                    <span class="text-red-600" asp-validation-for="UserName"></span>
                </div>
                <div>
                    <label asp-for="Password" class="block text-sm font-medium text-gray-700">
                        Пароль
                    </label>
                    <input
                           asp-for="Password"
                           type="password"
                           class="appearance-none rounded-lg block w-full px-3 py-2 border border-gray-300 placeholder-gray-400 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                           placeholder="Пароль" />
                    <span class="text-red-600" asp-validation-for="Password"></span>
                </div>
                <div class="flex items-center justify-between">
                    <div class="flex items-center">
                        <input
                               asp-for="RememberMe"
                               type="checkbox"
                               class="h-5 w-5 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded transition duration-300">
                        <label asp-for="RememberMe" class="ml-2 text-sm font-medium text-gray-700 hover:text-indigo-600 transition duration-300">
                            Запомнить меня
                        </label>
                        <span asp-validation-for="RememberMe"></span>
                    </div>
                    <div>
                        <a asp-controller="Auth" asp-action="ForgotPassword" class="text-sm font-medium text-indigo-600 hover:text-indigo-500 transition duration-300">
                            Забыли пароль?
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit"
                        class="group relative w-full flex justify-center py-3 px-4 border border-transparent text-sm font-medium rounded-lg text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition-all duration-300 ease-in-out">
                    Войти
                </button>
            </div>
        </form>
        <p class="mt-2 text-center text-sm text-gray-600">
            У вас нет аккаунта?
            <a asp-controller="Account" asp-action="Register" class="font-medium text-indigo-600 hover:text-indigo-500">
                Зарегистрируйтесь
            </a>
        </p>
    </div>
</div>
